@tailwind base;
@tailwind components;
@tailwind utilities;

/* CustomTooltip.css */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-content {
  position: absolute;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
  text-wrap: nowrap;
}

.tooltip-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1001;
}

/* Positioning the arrow for each tooltip position */
.tooltip-content.top::after {
  bottom: -4px; /* Adjust based on the size of the arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px 5px 0 5px;
  border-color: white transparent transparent transparent;
}

.tooltip-content.right::after {
  top: 50%;
  left: -4px; /* Adjust based on the size of the arrow */
  transform: translateY(-50%);
  border-width: 5px 5px 5px 0;
  border-color: transparent white transparent transparent;
}

.tooltip-content.bottom::after {
  top: -4px; /* Adjust based on the size of the arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent white transparent;
}

.tooltip-content.left::after {
  top: 50%;
  right: -4px; /* Adjust based on the size of the arrow */
  transform: translateY(-50%);
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent white;
}

.tooltip-content.top {
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content.right {
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
}

.tooltip-content.bottom {
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-content.left {
  top: 50%;
  right: 110%;
  transform: translateY(-50%);
}
